/**
  * Sky, for Drupal 5
  * Modern Web Services, modernwebservices [dot] com
  * Live Demo: sky [dot] modernwebservices [dot] com
 */
body {
background:#ffffff url(images/bg.png) repeat-x scroll left top;
color:#111;
font:0.75em/170% Verdana, Arial, Helvetica, sans-serif;
margin:0;
padding:0;
}

a img {
border:0;
}

a:active {
color:#666;
}

a:hover {
color:#000;
}

a:link {
color:#B7B9A8;
text-decoration:none;
}

a:visited {
color:#B7B9A8;
text-decoration:none;
}

b,strong {
font-weight:700;
}

caption {
text-align:left;
}

fieldset {
border:1px solid #e0e0e0;
padding:5px;
}

h1,h2,h3,h4,h5,h6 {
clear:both;
color:#B7B9A8;
display:block;
font-family:Georgia,"Times New Roman",serif;
font-style:normal;
font-variant:normal;
font-weight:400;
letter-spacing:-1px;
line-height:140%;
margin-bottom:10px;
margin-top:5px;
}

h1 {
font-size:2em;
margin-bottom:10px;
}

h2 {
font-size:1.8em;
}

h3 {
font-size:1.6em;
}

h4 {
font-size:1.4em;
}

i,em,u {
font-style:italic;
}

li,form {
margin:0;
padding:0;
}

p {
margin:5px 0 15px;
}

ul,ol {
clear:both;
list-style:outside;
margin:10px;
}

table {
border-collapse:collapse;
border-left:0px solid #bbb;
border-spacing:0;
border-top:0px solid #bbb;
margin:10px 5px;
width:100%;
}

tbody {
border:none;
}

th {
background:url(images/th.png);
border:none;
border-bottom:0px solid #bbb;
border-right:0px solid #bbb;
padding:3px 3px 3px 5px;
}

td {
border-bottom:0px solid #bbb;
border-right:0px solid #bbb;
padding:2px 2px 2px 8px;
}

td:hover {
background:#ddd;
}

thead th {
background:url(images/th.png);
border-bottom:0px solid #bbb;
border-right:0px solid #bbb;
font-weight:700;
padding:2px 2px 2px 5px;
text-align:left;
}

u {
text-decoration:none;
}

code {
color:#777;
font-size:12px;
}

fieldset legend {
color:#555;
font-family:"Lucida Grande", Verdana, Arial, sans-serif;
font-size:1em;
font-weight:700;
}

blockquote,cite {
background:url(images/cite.png) no-repeat;
clear:both;
color:#666;
display:block;
font-style:italic;
padding-left:45px;
padding-top:10px;
}

acronym,abbr {
border-bottom:1px dotted;
}

acronym:hover,abbr:hover {
cursor:help;
}

/* structural       */
#wrapper {
background: transparent;
height:auto !important;
margin:0 auto -6em;
min-height:100%;
width:960px;
}


#page { /* margin must match #footer height    */
overflow:hidden;
padding-bottom:25px;
width:700px;
}

body.both #page {
float:right;
margin-left:10px;
}

body.left #page {
float:right;
margin-left:10px;
}

body.right #page {
float:left;
margin-right:10px;
}

#content {
margin-top:10px;
padding:0 15px;
}

.container {
margin-top: 40px;
clear:both;
}

.push {
clear:both;
height:6em;
}

#footer-wrapper {
	height: 225px;
	width:100%;
	background: #FFFFFF url(images/bg-footer.png) repeat-x scroll left bottom;
}

#footer { /* height must match #footer height    */
background:transparent;
clear:both;
font-size:11px;
/*height:6em;*/
margin:0 auto;
padding:170px 0 0;
text-align:center;
width:960px;
}

/* height must match .push height    */
.header_title {
background:#fff;
clear:both;
display:block;
padding-right:16px;
text-align:right;
}

#header {
background:transparent;
border-bottom:#eee;
height:auto;
margin-top: 34px;
}

#header .site_name {
display:block;
float:left;
font-family:"Edwardian Script ITC", "Palace Script MT", "sans-serif";
font-size:4em;
line-height:normal;
margin-left:20px;
margin-top:0px;
padding-top:15px;
width:auto;
}

#header .site_name a {
color:#ffffff;
}

#header img.logo {
display:block;
float:left;
margin-bottom:10px;
margin-left:10px;
margin-top:5px;
}

#header .slogan {
color:#fff;
float:left;
font-family:"sans-serif";
font-size: 1.3em;
margin-left:20px;
padding-top:40px;
}

#header .navigation {
background:transparent;
clear:both;
height:35px;
width:100%;
}

#header .navigation .links {
background:transparent;
float:right;
height:35px;
list-style:none;
margin:0;
padding:0;
}

body.left #header .navigation .links {
float:right;
}

body.right #header .navigation .links {
float:left;
}

#header .navigation .links li {
float:left;
}

#header .navigation .links li a {
font-family: Georgia,"Times New Roman",serif;
color:#B7B9A8;
cursor:pointer;
display:block;
float:left;
font-weight:700;
height:35px;
line-height:35px;
padding:0 0 0 8px;
text-align:center;
text-decoration:none;
background: #FFFFFF url(images/button_tl_pink.png) no-repeat scroll left top;
}

#header .navigation .links li a span {
display:block;
float:left;
padding:0 16px 0 8px;
background: #FFFFFF url(images/button_tr_pink.png) no-repeat scroll right top;
}

#header .navigation .links li a.active {
color:#999999;
}

#header .navigation .links li a.active span {
}

#header .navigation .links li a:hover {
color:#999999;
}

#header .navigation .links li a:hover span {
color:#999999;
}

#header .navigation .links li.active a:hover {
background:#fff url(images/bg-primary-3.gif);
color:#000;
cursor:default;
}

#header .navigation .links li.active a:hover span {
background:#fff url(images/bg-primary-3.gif) no-repeat right bottom;
}

#header .secondary_links {
clear:both;
height:35px;
width:auto;
float: right;
}

body.left #header .secondary_links {
float:right;
}

body.right #header .secondary_links {
float:left;
}

body.left #header .secondary_links .links {
background:url(images/secondary.png) no-repeat left top;
}

body.right #header .secondary_links .links {
background:url(images/secondary-right.png) no-repeat right top;
}

#header .secondary_links .links {
color:#B7B9A8;
float:left;
height:35px;
padding-left:10px;
padding-right:10px;
width:auto;
font-size: 10px;
}

#header .secondary_links .links a:hover {
color:#999999;
}

#header .secondary_links .links span {
font-weight:400;
line-height:30px;
}

#header .breadcrumb {
clear:both;
margin:0;
padding:0;
}

#header .breadcrumb .breadcrumb {
margin:0 0 10px;
padding:5px 0 0;
}

#page .title {
color:#B7B9A8;
font-family:Georgia,"Times New Roman",serif;
font-style:normal;
font-variant:normal;
font-weight:400;
letter-spacing:-1px;
line-height:140%;
margin:0;
}

#content .node .content ol {
list-style-type:decimal;
margin-left:35px;
}

#content .node .content ul {
list-style-type:square;
margin-left:35px;
}

#content .node .content li {
padding:2px 0;
}

#content .block {
border:1px dotted #bbb;
margin:10px 0;
padding:10px;
}

#content .block .content {
padding:10px;
}

#content .block .title {
font-size:1.6em;
}

.node {
clear:both;
display:block;
margin:0 0 30px;
padding:0 10px;
}

.node .content {
padding:5px 0 15px;
}

.node .title a {
color:#B7B9A8;
font-family:Georgia,"Times New Roman",serif;
font-style:italic;
}

.node .links {
background:transparent
clear:both;
font-size:0.95em;
height:28px;
list-style:none;
margin:0;
padding:0;
}

.node .links span {
font-weight:400;
}

.node .links li {
float:left;
}

.node .links li a {
background:url(images/star.png) no-repeat left center;
color:#777;
cursor:pointer;
display:block;
float:left;
font-weight:400;
height:26px;
line-height:26px;
padding:0 0 0 8px;
text-align:center;
text-decoration:none;
}

.node .links li a span {
display:block;
float:left;
padding:0 16px 0 8px;
}

.node .links li a:hover {
background:url(images/star_hover.png) no-repeat left center;
}

.node .links li a:hover span {
color:#111;
}

.node .links li.comment_forbidden {
background:none;
display:inline;
float:none;
}

.node .links li.comment_forbidden span {
background:url(images/star.png) no-repeat left center;
display:block;
float:left;
padding:0 16px 0 8px;
width:260px;
}

.node .links span.comment_forbidden a {
background:none;
display:inline;
float:none;
padding:0;
}

.node .links span.comment_forbidden a:hover {
background:none;
color:#B7B9A8;
}

.node .info {
color:#777;
font-size:0.95em;
}

.node .info .picture {
float:left;
margin-right:10px;
margin-top:1px;
}

.node .info ul.links li a {
background:none;
color:#B7B9A8;
display:inline;
float:none;
font-weight:400;
padding:0;
text-align:left;
}

.node .info ul.links li a:hover {
background:none;
color:#111;
}

.node .info ul.links,.node .info ul.links li,.node .info ul.links li a,.node .info ul.links li a span {
background:none;
clear:none;
display:inline;
float:none;
margin:0;
padding:0;
}

.node dl {
border-bottom:0px solid #bbb;
margin:10px 5px;
width:100%;
}

.node dt {
background:url(images/dt.png) repeat-x left bottom;
border:0px solid #bbb;
font-weight:700;
padding:4px 0 4px 8px;
}

.node dd {
border-left:0px solid #bbb;
border-right:0px solid #bbb;
margin:0;
padding:10px;
}

.node dd:hover {
background:#ddd;
}

.box {
clear:both;
}

.box .title {
display:block;
font-size:1.5em;
letter-spacing:-1px;
line-height:2em;
}

#comments {
padding:15px;
}

#comments .box {
clear:both;
margin-top:25px;
}

.comment {
border:0px solid #bbb;
clear:both;
display:block;
margin-bottom:15px;
}

.comment .title {
display:block;
font-size:1.5em;
letter-spacing:-1px;
line-height:2em;
text-indent:8px;
}

.comment .title .new {
color:#C00;
padding-left:4px;
}

.comment .info {
clear:both;
color:#777;
display:block;
font-size:0.95em;
padding:5px 10px;
}

.comment .info .picture {
display:inline;
margin-left:10px;
margin-right:10px;
}

.comment .info .picture img {
display:inline;
padding-bottom:10px;
vertical-align:middle;
}

.comment .content {
padding:5px 10px;
}

.comment .links {
background:url(images/comment.png) left bottom;
clear:both;
display:block;
float:none;
font-size:1em;
height:auto;
line-height:45px;
margin:0;
padding:0 0 0 10px;
}

#sidebar {
margin-left:10px;
overflow:hidden;
padding:15px 0 0;
width:230px;
}

#sidebar .both {
float:left;
}

#sidebar .both .title {
background:transparent;
}

#sidebar .left {
float:left;
}

#sidebar .left .title {
background:transparent;
}

#sidebar .right {
float:right;
}

#sidebar .right .title {
background:transparent;
}

#sidebar .title {
color:#777;
display:block;
font-size:1.8em;
font-style:italic;
font-family:Georgia,"Times New Roman",serif;
letter-spacing:normal;
line-height:32px;
text-align:left;
text-indent:10px;
}

#sidebar .block {
margin:0 0 15px;
overflow:hidden;
padding:0;
width:230px;
}

#sidebar ul.menu {
border-bottom:0px solid #bbb;
}

#sidebar ul.menu ul,#sidebar ul.menu ul ul {
border:none;
}

#sidebar ul.menu li {
list-style:none;
list-style-image:none;
list-style-position:outside;
margin:0;
padding:0;
}

#sidebar ul.menu a {
background:transparent
border-bottom:0px solid #eee;
color:#777;
display:block;
line-height:30px;
text-transform:capitalize;
width:228px;
}

#sidebar ul.menu a:hover,#sidebar ul.menu a.active {
color:transparent;
}

#sidebar ul.menu li a {
text-indent:14px;
}

#sidebar ul.menu li li a {
line-height:30px;
text-indent:18px;
}

#sidebar ul.menu li li li a {
text-indent:30px;
}

body.left #sidebar ul.menu a.active:after {
content:" ->";
}

body.right #sidebar ul.menu a.active:before {
content:"<- ";
}

#sidebar ul.menu li a.active {
background:#999999 url(images/bg-menu.png);
border-bottom:1px solid #B7B9A8;
line-height:30px;
}

#sidebar ul.menu li a:hover {
background:#999999 url(images/bg-menu.png);
border-bottom:0px solid #91a6c1;
color:#111;
line-height:30px;
}

#sidebar ul.menu ul {
background:none;
padding-top:0;
}

#sidebar .content {
border:0px solid #bbb;
padding:10px;
}

#sidebar .item-list ul {
list-style:disc outside;
margin:0;
}

#sidebar .item-list ul li {
list-style:disc outside;
margin:0;
}

#sidebar .content-user {
border-left:0px solid #bbb;
border-right:0px solid #bbb;
border-top:0px solid #bbb;
}

#sidebar #user-login-form {
border-bottom:0px solid #bbb;
padding:0 10px 10px;
text-align:left;
}

/* overrides      */
ul.menu,ul.menu ul,ul.menu ul ul,ul.menu li,ul.menu li li,ul.menu li li li {
list-style:none;
list-style-image:none;
margin:0;
padding:0;
}

li a.active {
color:#333333;
font-weight:700;
}

.error {
border-color:red;
}

.messages {
margin-bottom:10px;
}

.mission {
background:#eee url(images/mission.png) repeat-x left bottom;
border:1px ridge #bbb;
margin:15px 0;
padding:15px;
}

.tabs {
margin:10px 0 0;
}

td.menu-disabled {
background:#eee;
border-bottom:1px solid #ccc;
}

tr.even,tr.odd {
background-color:#fff;
border-bottom:none;
padding:0;
}

.marker,.form-required {
color:#c00;
}

.form-item label {
color:#555;
font-size:0.95em;
}

.form-item input,.form-item textarea {
background:url(images/bg-input.png) repeat-x;
border:0px solid #bbb;
font:1em Verdana, Arial, Helvetica, sans-serif;
margin:0;
padding:3px;
}

.form-checkboxes,.form-radios,.form-item select {
font:12px Verdana, Arial, Helvetica, sans-serif;
margin:0;
padding:2px;
}

input.form-radio {
background:none;
border-style:none;
}

.form-item .description {
color:#777;
}

div.error {
background:#eee url(images/error.png) no-repeat left top;
border:1px solid #aaa;
margin-bottom:15px;
padding:45px 10px 10px;
}

div.status {
background:#eee url(images/message.png) no-repeat left top;
border:1px solid #aaa;
margin-bottom:15px;
padding:45px 10px 10px;
}

.form-item input.error,.form-item textarea.error,.form-item select.error {
border:1px solid #C00;
color:#111;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
}

.admin-list dt {
border-bottom:1px solid #eee;
}

.admin-list dd {
font-size:0.95em;
margin:0;
padding:5px 0 15px;
}

#blocks td.block {
border-bottom:0px solid #bbb;
border-left-style:none;
border-right:0px solid #bbb;
border-top-style:none;
margin:0;
padding:2px 2px 2px 8px;
}

#blocks td.region {
background:#eee;
}

table.view-grid td {
text-align:left;
vertical-align:top;
width:50%;
}